[flake8]
ignore = D203
builtins = _
max-line-length=119
extend-ignore = E203, W503, F401, W504
statistics = True
exclude =
    .git,
    _src,
    .github,
    .pytest_cache,
    .tox,
    .vscode,
    docker,
    env-vars/,
    postman/,
    src/env/,
    src/tmp.py,
    **/migrations/*,
    tests/,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist,
    .egg-info,
    .tox,
    env/
max-complexity = 10
